$breakpoints: (
  "xxm": 375px,
  "xm": 530px,
  "sm": 744px,
  "md": 950px,
  "lg": 1128px,
  "xl": 1400px,
  "xxl": 1900px,
);

@mixin breakpoint($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  @include flexAlignCenter;
  justify-content: center;
}

@mixin flexSetting {
  @include breakpoint("sm") {
    flex: 1 0 140px;
  }
}

@mixin buttonFormat {
  border: 0;
  outline: none;
}

@mixin layoutPadding {
  padding-left: 24px;
  padding-right: 24px;

  @include breakpoint("sm") {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include breakpoint("lg") {
    padding-left: 80px;
    padding-right: 80px;
  }
}
